<div class="card w-100 h-100">
  <div class="card-body">
    <h5 class="card-title">정보 입력</h5>
    <p class="card-text">아래와 같이 지난 일과를 기록해주세요.</p>
    <div class="card">
      <div class="card-body p-2">
        <div class="d-flex flex-column small">
          <code>> 몇월 며칠</code>
          <code>10 ~ 14 오랜만에 산책 #여가 #즐거움</code>
          <code>14.5 ~ 17 과제 #학교</code>
        </div>
      </div>
    </div>
    <ul class="small">
      <li class="ml-0">시간을 표현할 땐 0 이상 24 이하의 실수를 사용해주세요.</li>
      <li class="ml-0">11 ~ 3이나 22 ~ 25나 18:30~19:30 등의 표현은 지원하지 않습니다 ㅠㅠ 너그럽게 봐주세요</li>
    </ul>
    
    <p class="text-danger" *ngIf="timeRecordService.infoErrorMessage">{{ timeRecordService.infoErrorMessage }}</p>
    <textarea
      #data
      class="w-100 h-50 styled-scroll"
      [(ngModel)]="timeRecordService.data"
      (input)="onDataChange()"
    ></textarea>
  </div>
</div>