<div class="card w-100 h-100">
  <div class="card-body">
    <h5 class="card-title">색상 입력</h5>
    <p class="card-text">색상을 여기에 이렇게 입력하세요</p>
    <textarea
      #data
      class="w-100 h-25"
      [(ngModel)]="timeRecordService.colorData"
      (input)="onDataChange()"
    ></textarea>
    <div class="overflow-x-hidden overflow-y-scroll styled-scroll h-50 p-0 m-0">
      <div class="row">
        <div *ngFor="let color of palette; index as i" class="col-sm-6 col-md-3">
          <div class="d-flex align-items-center">
            <span style="width: 20px;" class="text-weight-bold mr-2 text-center">{{ i + 1 }}</span>
            <div class="w-100" style="height: 15px;" [style.background-color]="color"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>